@import "scss/functions";

$font-size-base: 1rem;
$body-color: #3b3b3b;
$line-height-base: 1.8;

@import "scss/variables";
@import "scss/mixins";
@import "scss/root";

@import "scss/bootstrap";

a {text-decoration: none;}
